* {
  margin: 0;
}

.sombra-suave {
  box-shadow: -7px 14px 15px rgb(0 0 0 / 12%);
}
.sombra-medio {
  box-shadow: -7px 14px 15px rgb(0 0 0 / 23%);
}
.sombra-suave-texto {
  text-shadow: -5px 6px 12px rgb(0 0 0 / 12%);
}
.sombra-medio-texto {
  text-shadow: -5px 6px 12px rgb(0 0 0 / 23%);
}
.sombra-fuerte {
  text-shadow: -5px 6px 12px rgb(0 0 0 / 40%);
}
.sombra-fuerte-texto {
  text-shadow: -5px 6px 12px rgb(0 0 0 / 40%);
}
.formularioRegister {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
/*Estilos header*/
.header {
  margin-top: 65px;
  margin-bottom: 5px;
}
/*Estilos Home*/

/*Estilos ListaEmpleado*/
.btnAdd {
  position: fixed;
  right: 24px;
  top: 35px;
  width: 65px;
  height: 61px;
  padding: 0;
  border: none;
  background: none;
}

.nombre {
  color: black;
  font-weight: bold !important;
}

.btnNegativo {
  background-color: #1a1a1a00;
  border: solid 3px #eeeeee;
  color: #6f6f6f;
  padding: 4px;
}

.content_botones {
  display: flex;
  flex-direction: column;
}

.parrafo {
  color: black;
  font-size: 19px;
}
.divEmpleado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f1f4ff;
  border: solid 2px #1f41bb;
  border-radius: 10px;
  height: 49px;
  width: 90%;
  margin: 10px;
}

.divEmpleado > p {
  padding: 12px 15px;
}
.contEmpleados {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contEmpleados {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Estilos Home*/
.Home {
  background-image: url(/src/assets/FondoInicio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.foto {
  width: 260px;
  height: 380px;
  object-fit: cover;
  object-position: top;
  border-radius: 8%;
}
.blueTittle {
  color: #1f41bb;
}
.loginBtn {
  width: auto;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1f41bb;
  color: white;
}
.input {
  width: 80%;
  padding: 20px;
  border: none;
  border-radius: 12px;
  margin: 14px;
  background: #eaefff;
  color: black;
}
.inputEmail {
  background-color: #f1f4ff;
  font-size: 16px;
}
.inputEmail::placeholder {
  color: #626262;
}
.registerBtn {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin-bottom: 12px;
  color: white;
}
.parrafo {
  color: black;
  font-size: 24px;
}
.smallText {
  font-size: 14px;
}
.largeText {
  font-size: 35px;
}
.regularText {
  font-size: 20px;
}

/*poppins*/
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
